.navbar{
    position:absolute;
    top:0;
    left:0;
    z-index:5;
    display:flex;

    align-items: center;
    margin-top:1vw;
    width:100vw;
    gap:0vw;
    img{
        height:6vw;
    }
    a{
        text-decoration: none;
        display:flex;
        justify-content: center;
        align-items: center;
        border:2px solid rgb(73, 100, 37);
        text-shadow: whitesmoke 1px 1px 1px;
        color: #3c4811;
        font-family: "soap", sans-serif;
        font-size:1.6vw;
        border-radius:20vw;
        padding:.5vw 1vw;
        transition: .5s all;
        &:hover{
            background-color: #5F6646;;
            color:antiquewhite;
            text-shadow:none;
        }
        &:nth-child(2){
            padding:.5vw .5vw;
        }
    }
 
   
    a:nth-child(1),a:nth-child(3){
        height:2vw;
    }
}

@media(max-width:500px){
    .navbar{
        margin-top:0vw;
        padding-top:2vw;
        img{
            height:14vw;
        }
        a{
            text-shadow: whitesmoke 1px 1px 1px;
            font-size:6.6vw;
            padding:2.5vw;
        }
    }
}
